@model UserData
@{
    ViewData["Title"] = "AddData";
}

<center>
    <h1>Add New Customer Data: </h1>
    <br/> <hr/> <br/>
                <form asp-action="ProcessInsert" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <table border="1">
                        <tr>
                            <th>Customer Name</th>
                            <td>
                                <input asp-for="CustomerName" />
                                <span asp-validation-for="CustomerName"></span>
                            </td>
                        </tr>
                        <tr>
                            <th><label asp-for="CustomerEmail"></label></th>
                            <td>
                                <input asp-for="CustomerEmail" />
                                <span asp-validation-for="CustomerEmail"></span>
                            </td>
                        </tr>
                        <tr>
                            <th><label asp-for="CustomerAddress"></label></th>
                            <td>
                                <input asp-for="CustomerAddress" />
                                <span asp-validation-for="CustomerAddress"></span>
                            </td>
                        </tr>
                        <tr>
                            <th><label asp-for="CustomerDOB"></label></th>
                            <td>
                                <input asp-for="CustomerDOB" />
                                <span asp-validation-for="CustomerDOB"></span>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2"><button type="submit" class="btn btn-primary">Add New Customer</button></th>
                        </tr>
                    </table>
                </form>
</center>

